td{
    border: 2px solid #444;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: center;
    font-size: 70px;
    cursor: pointer;
  
} 

.ventana{
    height: 100px;
    width:  100px;
}