
article{
    left: 0%;
    right: 0%;
    height: 4000px;
    background-color: #9bd4c3;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0%;
    right: 0%;
    height: 648px;
    background-image: url("/assets/fondo.png");
    background-size: cover;
}
.tablilla{
    background-image: url("/assets/fondotablero.png");
    background-size: cover;
}



td{
   
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: center;
    font-size: 70px;
    cursor: pointer;
  
} 

.ventana{
    display: grid;
    grid-template: 10% 75% 5% 10%/10% 80% 10%;
    justify-items: center;
    align-items: center;
    background-image: url("/assets/fondoGane.png");
    background-size: cover;
    width: 565px;
    height: 300px;
    
    
    
   
}
.text{
    color: #aa7959;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    grid-row: 2;
    grid-column: 2;
}
button{
    grid-row: 3;
    grid-column: 2;
}
.text2{
    color: #aa7959;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}